/*body {
    background-color: black;
}*/

.navbar{
    border-radius: 0px !important;
}

.iconmelon,
.im {
    position: relative;
    width: 150px;
    height: 150px;
    display: block;
    fill: #525151;
}

.iconmelon:after,
.im:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width:768px) {
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

.aven {
    background-color: transparent;
    border-color: transparent;
    height: 100px;
}

.aven-logo {
        margin-right: auto;
}
.navbar-collapse .nav>li>a {
    color: black;
    font-style: underline;
}

.navbar-collapse .nav>li>a:hover {
    color: #0069c8;
}

header:hover+nav-dropdown {
    animation: 1s drop 0s forwards;
}

@keyframes drop {
    100% {
        height: 100px;
    }
}

.navbar-default .navbar-header>.navbar-brand {
    background: transparent;
}

.nav-dropdown {
    z-index: -1;
    background-color: black;
}

#nav-pad {
    /*padding-top: 35px;*/
}
#navs{
    background-color: transparent;
    border-color: transparent;
}

#main{
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
}


.tpanel {
    height: 80vh;
    width: 50vw;
}

.tpanel-default{
    background: rgba(255, 255, 255, 0.9);
}

.tpanel-register{
    background: rgba(255, 255, 255, 0.9);
}

.tpanel-head {
    padding: 3%;
    border-bottom: 3px solid #cdcdcd;
    font-size: 2rem;
}

.tpanel-foot{
    bottom: 0px;
    position: absolute;
    padding: 2%;
    background: rgba(0,0,0,0.1);
    width: 100%;
    text-align: right;
}
#canvas{
   width:100%;
  height:700px;
  overflow: hidden;
  position:fixed;
  top:0;
  left:0;
  background-color: #1a1724;               
  }
.canvas-wrap{
 position:relative;
  }
div.canvas-content{
    position:relative;
    z-index:2000;
    color:#fff;
    text-align:center;
    padding-top:30px;
}
footer {
    background-color: rgba(44, 62, 80, 1.0);

    width: 100%;
    bottom: 0;
    font-weight: lighter;
    color: white;
}
.footerHeader{
    width:100%;
    padding:1em;
    background-color:rgba(52, 73, 94,1.0);
    text-align:center;
    color:white;
}
footer h3{
    font-weight:lighter;
}
footer ul{
    padding-left:5px;
    list-style:none;
}
footer p{
    text-align : justify;
    font-size : 12px;
}
footer iframe {
    width:100%;
    position:relative;
    height:170px;
}
.sm{
    list-style:none;
    overflow:auto;
}
.sm li {
    display: inline;
    padding:5px;
    float:left;
} 
.sm li a img {
    width:32px;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/*==========  Mobile First ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}